.offer__main {

  .container {

  }

  .offer__main-header {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;

    h2 {
      font-size: 1.5em;
      text-transform: uppercase;
    }
  }

  .offer__main-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5em;
  }

  .offer__item-card {
    width: 20em;
    height: 27.5em;
    border-radius: 15px;
    margin: 1.5em 0 0 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    img {
      border-radius: 15px;
    }
  }

  .offer__item-card:nth-child(4n+1) {
    margin:1.5em 0 0 0;
  }

  .offer__item-card:hover img{
    transition: 1s ease-out;
    opacity: 0.6;
  }

  .offer__card-header {
    display: block;
    padding: 0.75em 0.5em;
    background: rgba(255, 255, 255, 0.4);
    border: 0.1em solid;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    width: 15%;
    //margin: 0 5px 0 5px;
    margin: auto;
    a {
      text-decoration: none;
      color: #ffffff;
    }

    h3 {
      text-align: center;
    }
  }

  .offer__card-header:hover {
    transition: 0.5s ease-out;
    transform: scale(1.05);
  }

  .offer__card-header:hover img {
    transition: 1s ease-out;
    opacity: 0.6;
  }
}