body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("src/images/main/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 20px;
}

.container {
  margin: 0 100px 0 100px;
}

section {
  z-index: 1;
  //position: relative;
}

//.background {
//  width: 100vw;
//  height: 100vh;
//  overflow: hidden;
//  position: fixed;
//  top: 0;
//  left: 0;
//  z-index: 0;
//
//  .background-img {
//    width: 100%;
//    filter: brightness(40%);
//  }
//}