body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/main/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 20px;
  color: #ffffff;
}

.container {
  margin: 0 5em;
}

section {
  z-index: 1;
}

.section-header {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 1em 0;

  h2 {
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

.section-item {
  padding-top: 4.5em;
}

header {
  box-shadow: 0px 2.25em 2.25em 0.7em rgba(0, 0, 0, 0.5);
}

///////////////////////////////////


///////////////////////////////////////////////////
////Каталог (главная страница, каталог и кашпо)////
//////////////////////////////////////////////////

.catalog__main-items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 1.5em;
  gap: 1.7em;
}

.catalog__item-card {
  width: 20em;
  height: 27.5em;
  border-radius: 15px;
  margin: 1.5em 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;

  img {
    border-radius: 15px;
  }
}

.catalog__item-card:hover img {
  transition: 1s ease-out;
  opacity: 0.6;
}

.catalog__card-header {
  display: block;
  padding: 0.75em 0.5em;
  background: rgba(255, 255, 255, 0.4);
  border: 0.1em solid;
  border-radius: 15px;
  position: absolute;
  cursor: pointer;
  width: 15%;
  margin: auto;

  a {
    text-decoration: none;
    color: #ffffff;
  }

  h3 {
    text-align: center;
  }
}

.catalog__card-header:hover {
  transition: 0.5s ease-out;
  transform: scale(1.05);
}

.catalog__card-header:hover img {
  transition: 1s ease-out;
  opacity: 0.6;
}
///////////////////////////////////

////////////////
////Текстуры////
///////////////
.second_section-header {
  display: flex;
  justify-content: center;
  margin: 2em 10em 0 10em;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 1em 0;

  h3 {
    font-size: 1.2em;
    text-transform: uppercase;
  }
}

.texture__main-items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.texture__item-card {
  width: 15em;
  height: 15em;
  border-radius: 15px;
  margin: 1.5em 0 0 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;

  img {
    border-radius: 15px;
  }
}

.texture__item-card:nth-child(5n+1) {
  margin: 1.5em 0 0 0;
}

.texture__item-card:hover img {
  transition: 1s ease-out;
  opacity: 0.6;
}

.texture__card-header {
  display: block;
  padding: 0.75em 0.5em;
  background: rgba(255, 255, 255, 0.4);
  border: 0.1em solid;
  border-radius: 15px;
  position: absolute;
  width: 10%;
  margin: auto;

  a {
    text-decoration: none;
    color: #ffffff;
    cursor: auto;
  }

  h3 {
    text-align: center;
  }
}

//.texture__card-header:hover {
//  transition: 0.5s ease-out;
//  transform: scale(1.05);
//}

.texture__card-header:hover img {
  transition: 1s ease-out;
  opacity: 0.6;
}

///////////////////////////////////

///////////////
////Галерея////
///////////////

.gallery__main-items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 1.5em 12.625em 0 12.625em;

  .gallery__item-card {
    width: 14.4em;
    height: 14.4em;
    margin: 0.75em 0 0 0.75em;

    img {
      border-radius: 15px;
    }
  }

  .gallery__item-card:nth-child(4n+1) {
    margin: 0.75em 0 0 0;
  }
}

///////////////////////////////////

////////////////
////Продукты////
////////////////

.swiper-product {
  width: 20em;
  overflow: hidden;
}

.product__item-slider {
  position: absolute;
  z-index: 0;

  .swiper-slide {
    img {
      width: 20em;
      height: 20em;
      border-radius: 15px;
    }
  }
}

.product__main-items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.product__item-card {
  width: 20em;
  height: 20em;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 1.5em 0 0 1.7em;;
}

.product__item-card:nth-child(4n+1) {
  margin: 1.5em 0 0 0;
}

.product__card-header {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 2em;
  border-radius: 0 0 15px 15px;
  text-align: center;
  line-height: 2em;
  top: 18em;
  text-transform: uppercase;
}

details {
  position: relative;
  color: #ffffff;
  width: 18em;
  height: 2em;
  top: 16em;
  left: 2em;
  line-height: 2em;

  summary {
    cursor: pointer;
    width: 18em;
  }

  p {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    left: -1em;
    border-radius: 0 0 15px 15px;
    padding: 1em;
    z-index: 1;
    font-size: 0.75em;
  }
}

///////////////////////////////////

@media (max-width: 1600px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .catalog__card-header {
    width: 15em;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 621px) {
  .catalog__main-items {
    flex-direction: column;
    align-items: center;
  }

  .catalog__item-card {
    width: 30em;
    height: 41.25em;
  }

  .catalog__card-header {
    h3 {
      font-size: 2em;
    }
  }
}

@media (max-width: 480px) {
  body {
    font-size: 11px;
  }

  .catalog__item-card {
    width: 25em;
    height: 34.35em;
  }

  .catalog__card-header {
    h3 {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 320px) {
  body {
    font-size: 10px;
  }
}